@charset "UTF-8";

body {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

main img {
    min-width: 30vw;
    max-width: 90vw;
}

table {
    max-width: 200px;
}

table.tb2 {
    max-width: 325px;
}

ul {
    padding-left: 20px;
}